@media only screen and (max-width: 768px) {
    h1 {
        border: 2px solid rgb(107, 101, 101);
        background-color: blue;
      }
}    

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
}

#header-img{
    width: 100px;
    height: 100px;
}

  ul {
    list-style-type: none;
  }

  nav {
      display: flex;
      justify-content: space-between;
  }

  .logo {
      width: 150px;
      height: 150px;
  }

  #Brands{
      display: flex;
      justify-content: space-around;
  }

  h1 {
      border: 5px solid brown;
  }

  @media (hover: hover) {
    a:hover {
      background: yellow;
    }
  }
  @media (max-width: 600px)
header {
    flex-wrap: wrap;
}

#CoffeeMachines {
  display: flex;
      justify-content: space-around;
}
